<html>
<head>
	<link rel="stylesheet" type="text/css" href="/skeleton.css">
	<title>Add a new car</title>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="six columns offset-by-three.columns">
				<form>
					<label>Make</label>
					<input type="text" name="make" id="make">
					<label>Model</label>
					<input type="text" name="model" id="model">
					<label>Year</label>
					<input type="text" name="year" id="year">
					<label>Image</label>
					<input type="file" name="file" id="file">
					<input type="submit" name="submit" id="add_car" value="Add Car!">
					<input type="hidden" name="add_car" value="add_car">
				</form>
			</div>
		</div>
	</div>
</html>