<html>
<head>
	<link rel="stylesheet" type="text/css" href="/skeleton.css">
	<title>Cats</title>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="three columns"><img src="/cats1.jpeg" width="200"></div>
			<div class="three columns"><img src="/cats2.jpeg" width="200"></div>
			<div class="three columns"><img src="/cats3.jpeg"  width="200"></div>
			<div class="three columns"><img src="/cats4.jpeg"  width="200"></div>
		</div>	
		<div class="row">
			<div class="three columns"><img src="/cats5.jpeg"  width="200"></div>
			<div class="three columns"><img src="/cats6.jpeg"  width="200"></div>
			<div class="three columns"><img src="/cats7.jpeg"  width="200"></div>
			<div class="three columns"><img src="/cats8.jpeg"  width="200"></div>
		</div>
		<div class="row">
			<div class="three columns"><img src="/cats9.jpeg"   width="200"></div>
			<div class="three columns"><img src="/cats10.jpeg"  width="200"></div>
			<div class="three columns"><img src="/cats11.jpeg"  width="200"></div>
			<div class="three columns"><img src="/cats12.jpeg"  width="200"></div>
		</div>
	</div>
</body>
</html>